<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <main>
        <ul>
            <% if(messages.success_msg) { %>
                <li><%=messages.success_msg %></li>
            <% } %>
        </ul>
        
            <% if(p.length > 0) { %>
                <ul>
                    <% p.forEach(prod => { %>
               <h6><%= prod.title %></h6>   
               <li><form action="/addQtyCart" method="POST"><button>Add</button>
                <input type="hidden" name="id" value="<%= prod.id%>">
            </form><%= prod.cartItem.quantity %> <form action="/removeQtyCart" method="POST"><button>Subtract</button>
                <input type="hidden" name="id" value="<%= prod.id%>">
            </form></li>      
                </ul>
            <% }) %>

            <% } %> 
            <form action="/createorder" method="POST">
                <button>Order Now</button>
            </form>
    </main>
</body>
</html>