<html>
    <head>
        <title>
            Products
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link rel="stylesheet" href="css/style2.css">
    </head>
    <body>
        <h2>Products Page</h2>
        
        <div class="item-container">
            <% for(p of products) {%>
            <div class="item">
                
                <ul>
                    
                        <li><a href="products/<%= p.id %>"><%= p.title %></a></li>
                        <li><%= p.price %></li>
                        <li><%= p.imageUrl %></li>
                        <li><%= p.description %></li>
                        <form action="/cart" method="POST">
                            <button>Add To Cart</button>
                            <input type="hidden" name="id" value="<%= p.id %>">
                        </form>
                </ul>
                
            </div>
            <% } %>
        </div>
        

            
        
    </body>
</html>